In [4]:
import pandas as pd

In [ ]:
import pandas as pd 
import statsmodels.formula.api as smf


def linear_fit(df)
"""This is a function to determine a linear regression model relating the impact 
of various factors on energy consumption.
df: data frame of energy consumption and income/utility parameters. 
"""

fit_object = smf.ols(formula='Energy ~ Year + ZIPCode + BuildingType + PrimaryPropertyUse + YearBuilt + PropertyGFA + UtilityCompany + Ownership + ServiceType + ResidentialRate + CommercialRate + IndustrialRate + HouseholdIncome + HouseIncomeMOE', data=df)
ft = fit_object.fit()
ft.summary()

In [7]:
energy = pd.read_csv('energy_consumption.csv')
income = pd.read_csv('income.csv')
utility = pd.read_csv('utility_rates.csv')
zipcensus = pd.read_csv('zip_to_census.csv')

In [8]:
energy.head()

,UID,BuildingID,Year,City,State,ZIPCode,BuildingType,PrimaryPropertyUse,YearBuilt,PropertyGFA(sf),SiteEUI(kBtu/sf),SourceEUI(kBtu/sf),SiteEUIWN(kBtu/sf),SourceEUIWN(kBtu/sf)
0,0,375,2014,Atlanta,GA,30305,Commercial,Hotel,1998,60000.0,65.5,NaN,NaN,NaN
1,1,337,2014,Atlanta,GA,30305,Commercial,Hotel,1996,100000.0,43.8,NaN,NaN,NaN
2,2,302,2014,Atlanta,GA,30305,Residential,Senior Care Community,1964,300221.0,68.6,NaN,NaN,NaN
3,3,565,2014,Atlanta,GA,30305,Commercial,Parking,1957,100044.0,4.3,NaN,NaN,NaN
4,4,327,2014,Atlanta,GA,30305,Commercial,Performing Arts,1930,60000.0,22.9,NaN,NaN,NaN

In [9]:
income.head()

   Year  CensusBlock     City State  HouseholdIncome  HouseholdIncomeMedian
0  2017  13121001600  Atlanta    GA            66806                12629.0
1  2017  13121012000  Atlanta    GA            28902                 8926.0
2  2017  13121011900  Atlanta    GA            26032                 7415.0
3  2017  13121011800  Atlanta    GA            16087                 6874.0
4  2017  13089020200  Atlanta    GA            87889                 8562.0

In [ ]:
pd.merge()